.container{
        .nav-left{//左侧区域
        width: 15%;
        min-width: 180px;
        height: calc(100vh);
    }
    .main{//右侧区域
        height: calc(100vh);
    }
    .content{
        position: relative;
        padding: 20px;
    }
}