@import './default.less';
.container{
    .nav-left{//左侧区域
        width: 15%;
        // height: calc(100vh);
        background-color: @colorS;
        color: @colorM;
    }
    .main{//右侧区域
        height: calc(100vh);
        background-color: @colorL;
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px; 
    }
}